In [1]:
import numpy as np
from IPython.display import display
import pandas as pd

In [3]:
df = pd.DataFrame({'A':[None, 2, 3, None, 5], 'B':[10, None, None, 40, 50], 'C':[100, None, 300, 400,
None]})
df

     A     B      C
0  NaN  10.0  100.0
1  2.0   NaN    NaN
2  3.0   NaN  300.0
3  NaN  40.0  400.0
4  5.0  50.0    NaN

In [5]:
# 1
df_1 = df.copy()
df_1 = df_1.dropna()
display(df_1)

Empty DataFrame
Columns: [A, B, C]
Index: []

In [7]:
# 2
df_2 = df.copy()
df_2 = df.dropna(how='all')
display(df_2)

     A     B      C
0  NaN  10.0  100.0
1  2.0   NaN    NaN
2  3.0   NaN  300.0
3  NaN  40.0  400.0
4  5.0  50.0    NaN

In [9]:
# 3
df_3 = df.copy()
df_3 = df_3.dropna(subset=['A', 'C'])
display(df_3)

     A   B      C
2  3.0 NaN  300.0

In [13]:
# 4
df_4 = df.copy()
df_4 = df_4.fillna(0)
display(df_4)

     A     B      C
0  0.0  10.0  100.0
1  2.0   0.0    0.0
2  3.0   0.0  300.0
3  0.0  40.0  400.0
4  5.0  50.0    0.0

In [15]:
# 5
df_5 = df.copy()
display(df_5['B'].mean())

np.float64(33.333333333333336)